@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.frontend-challenge-container {
  box-shadow: inset 0 0 1px 0 #bbb, 0 0 2px 1px #bbb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 42px auto;
  padding: 20px;
  width: 675px;
  max-width: 80%;
}